:root {
  --font-family-sans: 'ibm plex sans', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
    font-size: 16px;
}

body {
    font-family: var(--font-family-sans);
    color: #0F172A;
    font-weight: 400;
}